include README
include LICENSE.txt
include doc/Makefile
include doc/*.*
include doc/reference/*.*
include doc/tutorial/*.*
include test/output/.keep
recursive-include test/input *
include examples/001_ethane/gaussian.fchk
include examples/001_ethane/thermo.py
include examples/002_linear_co2/gaussian.fchk
include examples/002_linear_co2/thermo.py
include examples/003_pentane/gaussian.fchk
include examples/003_pentane/thermo.py
include examples/004_alkanes/README
include examples/004_alkanes/alkane_2/init.xyz
include examples/004_alkanes/alkane_3/init.xyz
include examples/004_alkanes/alkane_4/init.xyz
include examples/004_alkanes/alkane_5/init.xyz
include examples/004_alkanes/alkane_6/init.xyz
include examples/004_alkanes/alkane_7/init.xyz
include examples/004_alkanes/alkane_8/init.xyz
include examples/004_alkanes/bin/analyse_md.sh
include examples/004_alkanes/bin/analyse_static.py
include examples/004_alkanes/bin/calc_cv.py
include examples/004_alkanes/bin/run_md.sh
include examples/004_alkanes/bin/run_static.sh
include examples/004_alkanes/bin/xyz2psf.py
include examples/004_alkanes/par_all34_ethers.prm
include examples/004_alkanes/templates/freq.inp
include examples/004_alkanes/templates/md.inp
include examples/004_alkanes/templates/opt.inp
include examples/004_alkanes/templates/sp.inp
include examples/005_acrylamide_reaction/aa.fchk
include examples/005_acrylamide_reaction/aarad.fchk
include examples/005_acrylamide_reaction/paats.fchk
include examples/005_acrylamide_reaction/reaction.py
include examples/006_5T_ethyl_ethene_addition/react.fchk
include examples/006_5T_ethyl_ethene_addition/reaction.py
include examples/006_5T_ethyl_ethene_addition/ts.fchk
include examples/007_mfi_propene_reaction/5Tp_p_TS.oniom21apr_HF.fchk
include examples/007_mfi_propene_reaction/Zp_p_TS.28aug.com
include examples/007_mfi_propene_reaction/Zp_p_TS.28aug.fchk
include examples/007_mfi_propene_reaction/Zp_p_react.14mei.fchk
include examples/007_mfi_propene_reaction/Zp_p_react.28aug.com
include examples/007_mfi_propene_reaction/Zp_p_react.28aug.fchk
include examples/007_mfi_propene_reaction/reaction.py
include examples/008_ethane_rotor/scan/gaussian.com
include examples/008_ethane_rotor/scan/gaussian.log
include examples/008_ethane_rotor/thermo.py
include examples/009_ethyl_ethene/cutter.py
include examples/009_ethyl_ethene/ethene/freq/gaussian.fchk
include examples/009_ethyl_ethene/ethyl/freq/gaussian.fchk
include examples/009_ethyl_ethene/ethyl/scan/gaussian.log
include examples/009_ethyl_ethene/reaction.py
include examples/009_ethyl_ethene/ts_ad1/freq_gauche/gaussian.fchk
include examples/009_ethyl_ethene/ts_ad1/freq_trans/gaussian.fchk
include examples/009_ethyl_ethene/ts_ad1/scan1/gaussian.log
include examples/009_ethyl_ethene/ts_ad1/scan2/gaussian.log
include examples/010_adk/NOTES_ADK.txt
include examples/010_adk/analyse-adk.py
include examples/010_adk/closed/adk.closed.cor
include examples/010_adk/closed/adk.closed.new.cor
include examples/010_adk/closed/adk.closed.reorient.new.cor
include examples/010_adk/closed/bld-adk.inp
include examples/010_adk/closed/freq-adk.reorient.inp
include examples/010_adk/closed/opt-adk.inp
include examples/010_adk/fixed_files/fixed.1.txt
include examples/010_adk/fixed_files/fixed.10.txt
include examples/010_adk/fixed_files/fixed.11.txt
include examples/010_adk/fixed_files/fixed.12.txt
include examples/010_adk/fixed_files/fixed.13.txt
include examples/010_adk/fixed_files/fixed.2.txt
include examples/010_adk/fixed_files/fixed.3.txt
include examples/010_adk/fixed_files/fixed.4.txt
include examples/010_adk/fixed_files/fixed.5.txt
include examples/010_adk/fixed_files/fixed.6.txt
include examples/010_adk/fixed_files/fixed.7.txt
include examples/010_adk/fixed_files/fixed.8.txt
include examples/010_adk/fixed_files/fixed.9.txt
include examples/010_adk/open/adk.open.cor
include examples/010_adk/open/adk.open.new.cor
include examples/010_adk/open/bld-adk.inp
include examples/010_adk/open/freq-adk.inp
include examples/010_adk/open/opt-adk.inp
include examples/010_adk/output/get_overlap_7-7.py
include examples/010_adk/output/script.gibbs
include examples/010_adk/output/script.grep
include examples/010_adk/output/script.movie
include examples/010_adk/output/script.overlap
include examples/010_adk/script.full.closed
include examples/010_adk/script.full.open
include examples/010_adk/script.generatefixed.py
include examples/010_adk/script.mbh.closed
include examples/010_adk/script.mbh.open
include examples/010_adk/script.vsa.closed
include examples/010_adk/script.vsa.open
include examples/011_ethyl_ethene_lot/abskintab.py
include examples/011_ethyl_ethene_lot/bssetab.py
include examples/011_ethyl_ethene_lot/figures.py
include examples/011_ethyl_ethene_lot/geotab.py
include examples/011_ethyl_ethene_lot/html.py
include examples/011_ethyl_ethene_lot/init/ethene.fragments
include examples/011_ethyl_ethene_lot/init/ethene.xyz
include examples/011_ethyl_ethene_lot/init/ethyl.fragments
include examples/011_ethyl_ethene_lot/init/ethyl.xyz
include examples/011_ethyl_ethene_lot/init/ts_ad1_gauche.fragments
include examples/011_ethyl_ethene_lot/init/ts_ad1_gauche.xyz
include examples/011_ethyl_ethene_lot/init/ts_ad1_trans.fragments
include examples/011_ethyl_ethene_lot/init/ts_ad1_trans.xyz
include examples/011_ethyl_ethene_lot/kin.py
include examples/011_ethyl_ethene_lot/kinpartab.py
include examples/011_ethyl_ethene_lot/kintab.py
include examples/011_ethyl_ethene_lot/lot_basis.py
include examples/011_ethyl_ethene_lot/mkinputs.py
include examples/011_ethyl_ethene_lot/reaction.py
include examples/011_ethyl_ethene_lot/states.py
include examples/012_ethyl_ethene_scaling/ethene/freq/gaussian.fchk
include examples/012_ethyl_ethene_scaling/ethyl/freq/gaussian.fchk
include examples/012_ethyl_ethene_scaling/reaction.py
include examples/012_ethyl_ethene_scaling/ts_ad1/freq_gauche/gaussian.fchk
include examples/013_butane/freq/gaussian.fchk
include examples/013_butane/scan/gaussian.log
include examples/013_butane/thermo.py
include examples/014_pentane_mbh/gaussian.fchk
include examples/014_pentane_mbh/thermo.py
include examples/015_kie/reactant.fchk
include examples/015_kie/reaction.py
include examples/015_kie/trans.fchk
include examples/016_modes/PUNCH
include examples/016_modes/modes.py
include examples/017_activationkineticmodel/TBHP/gaussian.fchk
include examples/017_activationkineticmodel/TS/TS.fchk
include examples/017_activationkineticmodel/VO_AA_OH_H2O/gaussian.fchk
include examples/017_activationkineticmodel/VO_AA_OOtBu/gaussian.fchk
include examples/017_activationkineticmodel/cyclohexene/gaussian.fchk
include examples/017_activationkineticmodel/reaction.py
include examples/017_activationkineticmodel/water/gaussian.fchk
include examples/018_physisorption/adsorption.py
include examples/018_physisorption/m062x/argon/gaussian.fchk
include examples/018_physisorption/m062x/benzene/freq/gaussian.fchk
include examples/018_physisorption/m062x/complex/freq/gaussian.fchk
include examples/019_ethyl_ethene_simple/ethene.fchk
include examples/019_ethyl_ethene_simple/ethyl.fchk
include examples/019_ethyl_ethene_simple/kinetic.py
include examples/019_ethyl_ethene_simple/ts_trans.fchk
include examples/020_butane_conformers/equilibrium.py
include examples/020_butane_conformers/gauche.fchk
include examples/020_butane_conformers/trans.fchk
include examples/021_water_formation/formation.py
include examples/021_water_formation/hydrogen.fchk
include examples/021_water_formation/oxygen.fchk
include examples/021_water_formation/water.fchk
include examples/clean.sh
include examples/fchkstripper.py
